.x-grid {  
  width: 100%;
  height: 100%;
  overflow: hidden;

  position: absolute;
  top: 0px;
  left: 0px;

  z-index: 9990;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 0px;
  row-gap: 0px;

  opacity: .6;
}

.x-grid .x-grid-item {
  border-bottom: dotted 1px rgba(248, 248, 248, 0.2);
  border-right: dotted 1px rgba(248, 248, 248, 0.2);
}

.x-grid.active {
  opacity: 1;
}

.x-grid.active .x-grid-item {
  border-bottom: solid 1px rgba(54, 90, 209, 0.7);
  border-right: solid 1px rgba(54, 90, 209, 0.7);
}