.monitor {
  position: relative;
  display: block;
  height: 60vh;
  width: 100%;
  border-radius: 10px;
  border: solid 2px #717681;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  overflow: hidden;
}

.monitor .frame, 
.monitor .frame .slide {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 9000;
}